---
---

@import "{{ site.theme }}";

span.icon {
  padding: 0 0.25rem;
  border-radius: 1rem;
}

span.idea {
  background-color: #ff8080;
}

span.name {
  background-color: #bfff80;
}

span.eg {
  background-color: #80ffff;
}

span.ref {
  background-color: #bf80ff;
}
